h3{
    font-size: 300px;
}

.lu{
    color: aqua;
}

.zo{
    color: green;

}

.sa{
    color: yellow;

}


.names{
    color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* property */

/* selectros */

/* flex */

/* animation */


/* media quries */


/* bootstrap */




/* javascript */